@import '../../node_modules/normalize.css/normalize';

@font-face {
  src: 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap';
  font-family: 'Lato', sans-serif;
}

%lato-900 {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

%lato-400 {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

%lato-300 {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  resize: none;
  outline: none;
  text-decoration: none;
  @extend %lato-400;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #211F1E, #484442);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %lato-900;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  padding: 50px 0;
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__blocks {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__block {
    width: 370px;
    height: 470px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    transition: .4s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 350px 50px;
    &-form {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      z-index: 99;
      &-task-btn {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    &-add-column {
      width: 250px;
      height: 120px;
      background-color: #fff;
      padding: 10px;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1.5px solid #E3E7FF;
      background-color: #fff;
      &-title {
        font-size: .8em;
        color: #6F81FF;
        opacity: .9;
      }
      &-remove {
        position: relative;
        width: 16px;
        height: 16px;
        background: transparent;
        border: none;
        cursor: pointer;
        &::after,
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          background-color: #808FFF;
          height: 2px;
          width: 100%;
        }
        &::after {
          transform: rotateZ(45deg);
        }
        &::before {
          transform: rotateZ(-45deg);
        }
      }
    }
    &-main {
      padding: 10px;
      background-color: #fff;
      &-tasks {
        box-shadow: inset 0 0 15px #c2c2c2;
        height: 100%;
        padding: 10px;
        border-radius: 3px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
          width: 4px;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
          background-color: #7C96E1;
        }
        &-item {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          label {
            display: grid;
            grid-template-columns: .1fr 1fr .5fr;
            input[type="checkbox"] {
              display: none;
              &:checked + span {
                background: url(../images/check.svg) #97A3FF;
                background-position: center;
                background-size: 60%;
                background-repeat: no-repeat;
                border: none;
              }
            }
          }
          &-check {
            display: block;
            border: 1px solid #D2D8FF;
            border-radius: 3px;
            width: 15px;
            height: 15px;
            cursor: pointer;
          }
          &-name {
            color: #8290FF;
            font-size: .9em;
            display: block;
            padding: 0 10px;
          }
          &-change-task-name {
            width: 100%;
            height: auto;
            border: 1px solid #c2c2c2;
            padding: 8px;
            border-radius: 4px;
            font-size: 15px;
          }
          &-date {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &-text {
              color: #8290FF;
              opacity: .8;
              font-size: 14px;
            }
            &-remove-task-btn {
              background: transparent;
              cursor: pointer;
              width: 15px;
              height: 15px;
              border: none;
              position: relative;
              margin-right: 10px;
              &::after,
              &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px; 
                background-color: #808FFF;
                opacity: .9;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
              }
              &::after {
                transform: rotateZ(45deg);
              }
              &::before {
                transform: rotateZ(-45deg);
              }
            }
            &-change-task-btn {
              width: 15px;
              height: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              cursor: pointer;
              background: transparent;
            }
          }
          &-block {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    &-footer {
      padding: 10px;
      border-top: 1.5px solid #E3E7FF;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @extend %lato-300;
      &-total-tasks {
        font-size: .9em;
        color: #B3BBFF;
      }
      &-add-new-task-btn {
        border: none;
        background: transparent;
        cursor: pointer;
        text-transform: uppercase;
        color: #919DFF;
        letter-spacing: .5px;
        font-size: .6em;
        position: relative;
        padding: 0 20px 0 10px;
        &::after,
        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto 0;
          width: 10px;
          height: 1px;
          background-color: #7988FF;
        }
        &::after {
          transform: rotateZ(90deg);
        }
      }
    }
  }
}

.form-text {
  margin-bottom: 10px;
  width: 70%;
  height: 30px;
  font-size: .8em;
  padding: 5px;
  border: 1px solid #B0B0B0;
  border-radius: 3px;
}

.form-btn {
  width: 60%;
  height: 35px;
  padding: 10px;
  font-size: .8em;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #8694FF;
}

@media (max-width: 410px) {
  .wrapper {
    &__block {
      width: 100%;
    }
  }
}

.form-btn-cancel {
  background: #C8545C;
}

.show-flex {
  display: flex;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.done-task {
  text-decoration: line-through #7988FF;
}

.hidden {
  opacity: 0;
}

.active-column {
  box-shadow: inset 0 -5px 5px 0 #c2c2c2;
}

.selected-task {
  box-shadow: inset 0 0 0 1px #7988FF;
  border-radius: 5px;
  padding: 10px;
}

.blue-btn {
  background: #7988FF;
  img {
    width: 70%;
    border-radius: 3px;
  }
}